{% extends "base.html.twig" %} {% block body %}

<div class="card card-profile">

  <div class="card-body">
    <i class="material-icons">account_balance</i>
    <h4 class="card-title">Mentions légales</h4>
    <p class="card-description" >
      <p style="color:lightgrey;">Vous êtes sur le site Internet de la Commune de Bidon La structure
      générale, ainsi que les textes, photos, images et sons composant ce site
      sont la propriété de la Commune de Bidon. Toute reproduction, totale ou
      partielle, et toute représentation du contenu substantiel de ce site, d’un
      ou de plusieurs de ses composants, par quelque procédé que ce soit, sans
      autorisation expresse, est interdite, et constitue une contrefaçon
      sanctionnée par les articles L.335-2 et suivants du Code de la propriété
      intellectuelle. Les informations, pictogrammes, photographies, images,
      textes, séquences vidéo, animées sonores ou non, et autres documents
      présents sur le site Internet sont protégés par des droits de propriété
      industrielle et/ou intellectuelle, soit que la Commune de Bidon en soit le
      titulaire, soit qu’elle soit autorisée à les reproduire et les
      représenter.</p>
      <p style="color:lightgrey;">À ce titre, toute reproduction, représentation, adaptation,
      traduction et/ou modification, partielle ou intégrale ou transfert sur un
      autre site sont interdits. La copie sur support papier à usage privé de
      ces différents objets de droits est autorisée conformément à l’article
      L122-5 du Code de la Propriété Intellectuelle. Leur reproduction partielle
      ou intégrale, sans l’accord préalable et écrit de l’auteur, est
      strictement interdite. Dans le cadre de la mise en ligne des débats et
      plus généralement du contenu spécifique lié aux missions de service public
      aux administrés citoyens, la diffusion, même intégrale, par voie de presse
      ou de télédiffusion, à titre d’information d’actualité, des discours
      destinés au public prononcés dans des assemblées politiques,
      administrative ainsi que dans les réunions publiques d’ordre politique et
      les cérémonies officielles, ne peut être interdite par l’auteur.</p>
      <p style="color:lightgrey;">Cette
      publication est alors placée sous la responsabilité du diffuseur. Logo,
      charte graphique Le logo, et la charte graphique de ce site sont propriété
      de la Commune de Bidon. Toute reproduction totale ou partielle de cette
      marque sans autorisation préalable et écrite est prohibée. Toute
      modification des proportions, couleurs, éléments et constituants est
      strictement interdite. Traitement de Données personnelles Les informations
      recueillies font l’objet d’un traitement par la commune de Bidon. Nous ne
      traiterons ou n’utiliserons vos données que dans la mesure où cela est
      nécessaire pour la continuité de nos services. </p>
      <p style="color:lightgrey;">Vos informations
      personnelles sont conservées pendant une durée qui ne saurait excéder le
      temps nécessaire à la réalisation de l’objectif poursuivi, à moins que
      vous n’exerciez votre droit de suppression ou si la durée de conservation
      doit être allongée en vertu d’une obligation légale ou règlementaire.
      Pendant cette période, nous mettons tout en œuvre pour assurer la
      confidentialité et la sécurité de vos données personnelles. </p>
      <p style="color:lightgrey;">Conformément à
      la loi "informatique et libertés" du 6 janvier 1978 modifiée et au
      règlement européen n°2016/679/UE du 27 avril 2016 applicable depuis le 25
      mai 2018, vous bénéficiez d’un droit d’accès, de rectification,
      d’opposition, de limitation, de suppression et de portabilité de vos
      données en cas de motifs légitimes. Si vous ne souhaitez plus recevoir nos
      sollicitations vous avez la faculté de nous l’indiquer par mail
      ma-bidon@orange.fr ou par courrier à l’adresse de la Mairie.</p>
    </p>
    <a href="{{ path('index') }}" class="btn btn-primary btn-round">Retour accueil</a>
  </div>
</div>

{% endblock body%}
