/* FOOTER */

.footer-spacer {
  height: 9vh;
}

@media screen and (max-width: 990px) {
  .footer-spacer {
    height: 12vh;
  }
  .footer ul li a{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  footer {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  
  .footer-spacer {
    height: 15vh;
  }
}

@media screen and (min-width: 540px) and (max-width: 576px) {
  .footer-spacer {
    height: 12vh;
  }
}

/*  QUIZ  */

h4 {
  line-height: 2em;
}

/* NAVBAR */

#navbar-reponsive-button {
  margin-left: 0;
}

@media (min-width: 991px) {
  #nav-responsive {
    display: none;
  }
  .li-responsive {
    display: none;
  }
}
