{% extends "base.html.twig" %}

{% block body %}

    {% for message in app.flashes('success') %}

          <div class="alert alert-success mt-4" role="alert">
              {{ message }}
          </div>
    
    {% endfor %}
    
    <a class="btn btn-info" href="{{ path('card', {categoryId: 10}) }}">Créer une carte "Vocabulaire"</a>
    <a class="btn btn-info" href="{{ path('card', {categoryId: 11}) }}">Créer une carte "Dicton"</a>
    <a class="btn btn-info" href="{{ path('card', {categoryId: 12}) }}">Créer une carte "Conjugaison"</a>

{% endblock %}