{% extends "base.html.twig" %} 

{% block loaderQuiz %} onload="initialiseQuiz()" {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
				<h2 class="card-title">Quiz</h2>
			</div>

            <div class="card-body">
                {% set compteur = 0 %}
                {% for q in cartes %}
                <div class="uneCarteQuestion form-group">
                    <h3>Traduisez {{ q.question }}.</h3>
                        <div class="form-group">
                        <label for="exampleInput1" class="bmd-label-floating">Question numéro {{ compteur + 1 }}. Tapez votre réponse ci-dessous.</label><br/>
                        <input type="text" class="uneReponseUser form-control" id="exampleInput1">
                        <input type="submit" value="Envoyer la réponse" onclick="verifierReponse({{ compteur}},'{{ q.answer }}')">
                        <p class="verdict"></p>
                    </div>
                    {% set compteur = compteur + 1 %}
                </div>
                {% endfor %}
                <div class="uneCarteResultats form-group">
                    <p class="votreScore">Vous avez donné <span class="bonnesReponses">0</span> bonnes réponses !</p>
                    <input type="submit" value="Recommencer" onclick="recommencerQuiz()">
                </div>
            </div>

        </div>
    </div>
{% endblock %}