<footer class="footer fixed-bottom bg-dark">
  <div class="container d-flex justify-content-between">
    <nav>
      <ul>
        <li>
          <a href="{{ path('contact') }}"
            ><i class="material-icons">mail_outline</i>
            Nous contacter
          </a>
        </li>
        <li>
          <a href="{{ path('mentions-legales') }}"
            ><i class="material-icons">account_balance</i>
            Mentions légales
          </a>
        </li>
        <li>
          <a href="{{ path('app_login') }}"
            ><i class="material-icons">admin_panel_settings</i> Administration
          </a>
        </li>
      </ul>
    </nav>

    <div class="copyright" id="date">
      © 2021 , made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
    </div>

  </div>
</footer>
