<div class="sidebar" data-color="purple"  id="nav-responsive" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a href="{{ path('index') }}" class="simple-text logo-normal">
      FlashCards Project
    </a>
  </div>
    <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="20ec0ed7-532f-5288-353c-4ab7714b7d8b">
      <ul class="nav">
     
        
        
      </ul>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
  <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-2.jpg) "></div></div>
