{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <p class="h4 card-header card-header-info">Nom : {{ language.name }}</p>
        <p class="card-category">Users, cards et decks associés.</p>
      </div>
    </div>
  </div>
</div>

{% endblock body%}
