{% extends 'base.html.twig' %}
{% block title %}Erreur 401{% endblock %}
{% block body %}
    <h1>Erreur 401</h1>

    <p class="text-white">
        <img src="/assets/img/404.png"><br/>
        Identifie-toi d'abord, c'est pas un cirque ici ! Non mais sans blague.<br/></p>
        <p><a href="/" class="text-warning">Retourner à l'accueil.</a>
    </p>
{% endblock %}