{% extends 'base.html.twig' %}
{% block title %}Absent ? Qui, moi ?{% endblock %}
{% block body %}
    <h1>Erreur 500</h1>

    <p class="text-white">
        <img src="/assets/img/404.png"><br/>
        Il y a une erreur sur cette page mais je ne sais pas où. C'est chouette non ? J'aime rédiger des messages d'erreurs utiles ma gueule.<br/></p>
        <p><a href="/" class="text-warning">Retourner à l'accueil.</a>
    </p>
{% endblock %}